@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   background-image: radial-gradient(circle, #303030, #1b1b1b, #0d0d0d, #000000, #000000);
color: #ffffff;
border: solid 2px #ffffff;

    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

#main{
    position: relative;
    top: 50px;
    width: 600px;
    height: auto;
    padding-bottom: 10px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 30px;
    border: solid 2px white;
    transition: 2s;
    transform: scale(0.7);

}

#main:hover{

    transform: scale(0.9);
    box-shadow: rgb(5, 0, 0) 0px 7px 30px 1px;
}

#todos{
    position: relative;
    color: white;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    height: auto;
}

#todos > .heading{
    margin-bottom: 30px;
    text-align: center;
}

#todos > .heading > h1{
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
}

#todos > .todo-input-container{
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

#todos > .todo-input-container > .todo_input{
    width: 85%;
    height: 40px;
    padding: 0 0 0 10px;
    font-size: 1.2rem;
    color: white;
    outline: none;
    border-radius: 30px;
    border: solid 2px white;
    background-color: transparent;
    
}

::-webkit-input-placeholder{

    color: white;
}

#todos > .todo-input-container > .add-item{
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

#todos > .todo-input-container > .add-item:nth-child(2){
    right: 44px;
    color: black;
    border-radius: 30px;
    background-color: white;
}

#todos > .todo-list-container{
    list-style: none;
    margin: 10px 0 0;
}

#todos > .todo-list-container .todo-list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#todos > .todo-list-container .todo-list .todo-item{
    width: 100%;
    background-color: transparent;
    color: white;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 30px;
    border: solid 2px white;
}

#todos > .todo-list-container .todo-list .button{
    position: absolute;
    right: 0;
}

#todos > .todo-list-container .todo-list .button button{
    width: 40px;
    height: 50px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}

.btn-check{

    position: relative;
    top: 10.3px;
    border: none;
    width: 40px;
    height: 39.5px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}


#todos > .todo-list-container .todo-list .button .trash{
    background-color: white;
    color: black;
    position: relative;
    bottom: 5px;
}

#todos > .todo-list-container .todo-list .button button i{
    pointer-events: none;
}
.fall{

    transform: translateY(10px);
    transition: .01s;
}

.editBtn{
    background-color:black;
    position: relative;
    bottom: 5px;

}

@media screen and (max-width: 600px){
    #todos{
        width: 100%;
    }
}
.heading{
    padding-left: 2%;
}
.nothing
{
font-size: 150px;
justify-content: flex-end;

}
